@use '../../../../styles/fonts' as *;
@use '../../../../styles/colors' as *;

.footerBottom-container {
    display: flex;
    justify-content: center;

    padding: 0.839rem 0;

    .bottom-span {
        font-size: 0.813rem;
        height: 1.25rem;
    }
}