@use '../../../../styles/fonts' as *;
@use '../../../../styles/colors' as *;

.footerContact-container {
    height: 10.125rem;
    padding: 2.625rem 5rem;
    margin-top: 5rem;

    display: flex;
    justify-content: space-between;

    background-color: $purple-dark;

    @media (max-width: 1024px) {
        gap: 1rem;
    }

    @media (max-width: 768px) {
        padding: 2.625rem 3rem;
    }

    .footer-newsletter {
        color: $white;

        .footer-title {
            font-size: 2rem;

            @media (max-width: 1024px) {
                font-size: 1rem;
            }
        }

        .footer-description {
            font-size: $small;

            @media (max-width: 1024px) {
                font-size: $xs;
            }
        }

        
    }

    .footer-form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .footer-data {
            display: flex;
            gap: 0.5rem;

            .footer-input {
                width: 14.563rem;
                height: 2.625rem;

                padding: 0 1rem;
                border: 0;
                border-radius: 8px;

                @media (max-width: 1024px) {
                    width: 12.563rem;
                    height: 2.625rem;
                }

                @media (max-width: 768px) {
                    width: 8rem;
                    height: 2rem;
                }
            }

            .footer-button {
                border: 0;
                border-radius: 8px;

                width: 9.813rem;
                height: 2.625rem;

                @media (max-width: 768px) {
                    width: 8rem;
                    height: 2rem;
                }

                background-color: $yellow;
                font-weight: 600;
            }
        }

        .footer-check {
            display: flex;
            gap: 0.5rem;
            color: $white;
            font-size: $small;
        }
    }
}