@use '../../styles/fonts' as *;
@use '../../styles/colors' as *;

.slider-container {
    display: flex;
    justify-content: center;
    position: relative;

    margin-top: 2rem;

    .slide-button {
        width: 2rem;
        height: 2rem;

        display: flex;
        justify-content: center;
        align-items: center;
        
        border-radius: 20px;
        border: 0;

        cursor: pointer;

        &:hover {
            background-color: $blue;
            color: $white;
            transition: 0.2s linear;
        }
    }   

    .left {
        position: absolute;
        left: -3%;
        top: 50%;

        @media (max-width: 1024px) {
            left: -5%;
            top: 50%;
        }

        @media (max-width: 768px) {
            left: -7%;
            top: 50%;
        }
    }

    .right {
        position: absolute;
        right: -3%;
        top: 50%;

        @media (max-width: 1024px) {
            right: -5%;
            top: 50%;
        }

        @media (max-width: 768px) {
            right: -7%;
            top: 50%;
        }
    }

    .slides-wrapper {
        display: flex;
        gap: 1.125rem;
        width: 100%;
    }
}